<div style="margin: 50px">
    <h3>@carbon/icons working!</h3>

    <br />
    <div>
        <svg ibmIcon="user" size="16"></svg>
    </div>
    <br />
    <div>
        <svg ibmIcon="add" size="16"></svg>
    </div>
    <br />
    <div>
        <svg ibmIcon="user--avatar" size="20"></svg>
    </div>
    <br />
    <div>
        <svg ibmIcon="bee" size="20"></svg>
    </div>
    <div>
        <svg ibmIcon="purchase" size="32"></svg>
    </div>
    <div>
        <svg ibmIcon="accessibility" size="24"></svg>
    </div>
    <div>
        <svg ibmIcon="airline--digital-gate" size="20"></svg>
    </div>
    <div>
        <svg ibmIcon="airport-location" size="16"></svg>
    </div>
    <div>
        <svg ibmIcon="application--web" size="32"></svg>
    </div>
</div>

